= content_for :title, "Твердотопливные котлы - Купить пиролизный котел на твердом топливе,цена,описание"
- meta_description "В нашем интернет магазине Вы сможете купить котел на твердом топливе. Наши твердотопливные котлы, собираются в Украине, по принципу и геометрии пиролизного котла АТМОS"
- meta_keywords "Твердотопливные котлы, Купить котел на твердом топливе, Пиролизные котлы"
- if boiler_page
  = raw boiler_page.body