= content_for :title, "Твердотопливные котлы - Купить котел на твердом топливе"
- meta_description "В нашем интернет магазине Вы сможете купить котел на твердом топливе.Наши твердотопливные котлы, собераются в Украине, по принципу и геометрии котла АТМОS"
- meta_keywords "Твердотопливные котлы, Купить котел на твердом топливе"
- if boiler_page
  = raw boiler_page.body