= content_for :title, "Котлы твердотопливные, твердотопливные котлы длительного горения"
- meta_description "Твердотопливные котлы длительного горения, цена, описание, руководство по эксплуатации. Продажа пиролизных котлов на твердом топливе по всей Украине."
- meta_keywords "Котлы твердотопливные, твердотопливные котлы длительного горения, пиролизные котлы"
- if documentation_page
  = raw documentation_page.body