= content_for :title, "Котлы твердотопливные, твердотопливные котлы длительного горения"
- meta_description "Твердотопливные котлы длительного горения, цена, описание, руководство по эксплуатации."
- meta_keywords "Котлы твердотопливные, твердотопливные котлы длительного горения"
- if documentation_page
  = raw documentation_page.body