
= link_to 'New Doc', new_admin_documentation_path, class: 'btn btn-success'

.grid
  = grid(@documentations_grid, upper_pagination_panel: true) do |g|
    - g.blank_slate content_tag(:div, 'No records found')
    - g.column name: 'Title', attribute: 'title'
    - g.column do |doc|
      - link_to('Show', doc, class: 'btn btn-mini')
    - g.column do |doc|
      - link_to('Edit', edit_admin_documentation_path(doc), class: 'btn btn-mini btn-info')
    - g.column do |doc|
      - link_to('Destroy', [:admin, doc], method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' })