
= link_to 'Добавить изображение', new_admin_gimage_path, class: 'btn btn-success'
%br
%br
.grid
  = grid(@gimages_grid, upper_pagination_panel: true) do |g|
    - g.blank_slate content_tag(:div, 'У вас пока нет фото')
    - g.column name: 'Изображение' do |image|
      - image_tag image.file.url
    - g.column do |image|
      - link_to('Destroy', [:admin, image], method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' })