= javascript_include_tag 'lightbox/js/lightbox-2.6.min.js'
= stylesheet_link_tag 'lightbox/css/lightbox.css'

= link_to 'Добавить изображение', new_admin_gimage_path, class: 'btn btn-success'
%br
%br
%table.table.table-striped
  %thead
    %tr
      %th
        Изображение
      %th
  %tbody
    - @gimages.each do |image|
      %tr
        %td
          - link_to(image_tag(image.file.url(:thumb), style: 'height: 150px', class: 'img-polaroid'), image.file.url(:original), 'data-lightbox' => "roadtrip")
        %td
          - link_to('Удалить', [:admin, image], method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' })