= content_for :title, "Твердотопливный котел"
- meta_description "Твердотопливные котлы в  Украине по принципу и геометрии котлов АТМОS. Описание, цена, доставка, гарантия и руководство по эксплуатации."
- meta_keywords "Твердотопливный котел, котлы твердотопливные"
= javascript_include_tag 'lightbox/js/lightbox-2.6.min.js'
= stylesheet_link_tag 'lightbox/css/lightbox.css'
- @images.each do |image|
  = link_to(image_tag(image.file.url(:thumb), style: 'height: 200px', class: 'img-polaroid'), image.file.url(:original), 'data-lightbox' => "roadtrip")
