= content_for :title, "Запчасти и комплектующие для твердотопливных котлов"
- meta_description "Сайт по продаже твердотопливных котлов. Вы также сможете найти у нас запчасти и комплектующие."
- meta_keywords "Запчасти и комплектующие для твердотопливных котлов"
- if spare_page
  = raw spare_page.body
