= content_for :title, "Купить твердотопливный котел, цена"
- meta_description "В нашем интерент магазине Вы сможете купить твердотопливный котел двух видов: с нагнетающим вентилятором и с оттягивающим.Цена, описание,гарантия и доставка."
- meta_keywords "Купить твердотопливный котел"
- if price_page
  = raw price_page.body
