= content_for :title, "Купить твердотопливный котел, пиролизные котлы, цена"
- meta_description "В нашем интернет-магазине Вы сможете купить твердотопливный котел двух видов: с нагнетающим вентилятором и с оттягивающим. Цена, описание, гарантия и доставка пиролизных котлов."
- meta_keywords "Купить твердотопливный котел"
- if price_page
  = raw price_page.body
