/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter-bootstrap-static/bootstrap
 *= require twitter-bootstrap-static/fontawesome
 *= require twitter-bootstrap-static/sprites
 *= require wice_grid
 */

.header{
  height: 200px;
  position: relative;
  .header-image{
    background-image: url('kamin.jpg');
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    background-size: cover;
  }
  .header-gradient{
    position: absolute;
    width: 65%;
    height: 100%;

    background: -moz-linear-gradient(left,  rgba(237,144,23,1) 0%, rgba(252,201,95,1) 81%, rgba(255,214,112,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(237,144,23,1)), color-stop(81%,rgba(252,201,95,1)), color-stop(100%,rgba(255,214,112,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(237,144,23,1) 0%,rgba(252,201,95,1) 81%,rgba(255,214,112,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(237,144,23,1) 0%,rgba(252,201,95,1) 81%,rgba(255,214,112,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(237,144,23,1) 0%,rgba(252,201,95,1) 81%,rgba(255,214,112,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(237,144,23,1) 0%,rgba(252,201,95,1) 81%,rgba(255,214,112,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed9017', endColorstr='#00ffd670',GradientType=1 ); /* IE6-9 */

  }
  .logo{
    background-image: url('logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 200px;
  }
  .logo-text{
    position: absolute;
    font-weight: bold;
    font-style: italic;
    font-size: 100px;
    padding-left: 200px;
    padding-top: 113px;
  }
  .header-info{
    min-width: 280px;
    .text{
      padding: 20px;
    }
    background-color: rgba(255, 140, 0, 0.55);
    position: absolute;
    right: 0;
    width: 25%;
    height: 100%;
    color: white;
    font-size: 19px;
    line-height: 26px;
    font-family: Century;
    text-shadow: 4px 4px 6px black;
    span.info-bold{
      font-weight: bolder;
    }
  }
}
.menu{
  background: rgb(127,0,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(127,0,0,1) 0%, rgba(181,68,3,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,0,0,1)), color-stop(100%,rgba(181,68,3,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(127,0,0,1) 0%,rgba(181,68,3,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(127,0,0,1) 0%,rgba(181,68,3,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(127,0,0,1) 0%,rgba(181,68,3,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(127,0,0,1) 0%,rgba(181,68,3,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f0000', endColorstr='#b54403',GradientType=0 ); /* IE6-9 */

  padding: 10px;

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      display: inline;
      margin: 0;
      padding: 10px;
      a{
        margin: 0;
        padding: 0;
      }
    }
  }
}

.info-bold{
  color: white !important;
  font-size: 19px;
  line-height: 26px;
  font-family: Century;
  text-shadow: 4px 4px 6px black;
  font-weight: bolder;
}

.page-container{
  -webkit-box-shadow: 0px 1px 9px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 9px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 9px rgba(50, 50, 50, 0.75);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
  margin: 20px;
  min-width: 900px;
}

.page-content{
  background-color: white;
  position: relative;
}

.sidebar{
  position: absolute;
  width: 170px;
  height: 100%;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 0px;

  background: rgb(127,0,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(127,0,0,1) 0%, rgba(181,68,3,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,0,0,1)), color-stop(100%,rgba(181,68,3,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(127,0,0,1) 0%,rgba(181,68,3,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(127,0,0,1) 0%,rgba(181,68,3,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(127,0,0,1) 0%,rgba(181,68,3,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(127,0,0,1) 0%,rgba(181,68,3,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f0000', endColorstr='#b54403',GradientType=0 ); /* IE6-9 */
}

.page{
  border: 1px solid white;
  margin-left: 230px;
  padding-top: 20px;
  padding-right: 20px;
  min-height: 300px;
}

.title{
  color: #666;
  font-size: 30px;
  font-weight: bolder;
}

.active{
  color: orange !important;
  a{
    color: orange !important;
  }
}


.footer{
  background: rgb(181,68,3); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(181,68,3,1) 0%, rgba(127,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,68,3,1)), color-stop(100%,rgba(127,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(181,68,3,1) 0%,rgba(127,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(181,68,3,1) 0%,rgba(127,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(181,68,3,1) 0%,rgba(127,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(181,68,3,1) 0%,rgba(127,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b54403', endColorstr='#7f0000',GradientType=0 ); /* IE6-9 */

  padding: 10px;
  color: white;
}

.login-form{
  -webkit-box-shadow: 0px 1px 9px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 9px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 9px rgba(50, 50, 50, 0.75);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #ffffe0;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}

#lightbox img{
  max-width: 1500px;
  max-height: 900px;
  width: auto!important;
  height: auto!important;
}

.lb-outerContainer, .lb-dataContainer{
  max-width: 1520px;
  max-height: 920px;
}